.last-component{
    padding: 10px;
    font-style: italic;
}

.last-component-heading{
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    
}

.last-component-heading-sub-info{
    font-size: larger;
   
    font-weight: bolder;
}

@media screen and (max-width: 481px){
    .last-component{
      padding-top: 0px;
    }
}